html(lang="ru")
    include includes/head.pug
    body
        .site
            include includes/header.pug
            .site-primary
                .site-content
                    section
                        .container 
                            img(src="images/img.png", alt="", style="max-width: 100%")

                    section(style="padding-top: 3rem")
                        .container
                            h1 H1 heading
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            h2 H2 heading
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            h3 H3 heading
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            h4 H4 heading
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            h5 H5 heading
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            h6 H6 heading
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

                            h2 List default
                            ul
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="center"
                                    ) Popup Center
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="top"
                                    ) Popup Top
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="bottom"
                                    ) Popup Bottom
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="left"
                                    ) Popup Left
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="right"
                                    ) Popup Right
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="top left"
                                    ) Popup Top Left
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="top right"
                                    ) Popup Top Right
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="bottom left"
                                    ) Popup Bottom Left
                                li
                                    a(
                                        href="#"
                                        data-popup
                                        data-popup-src="#popup"
                                        data-popup-pos="bottom right"
                                    ) Popup Bottom Right
                                li
                                    a(
                                        href="#"
                                        data-popup
                                    ) Popup No Content

                            h2 List unstyled (class = "unstyled")
                            ul.unstyled
                                li Lorem ipsum
                                li Lorem ipsum
                                li Lorem ipsum
                                li Lorem ipsum
                                li Lorem ipsum
                                li Lorem ipsum

                    section(style="padding-top: 3rem")
                        .container
                            h2 Popup gallery
                            .row(style="padding-top: 1rem")
                                .col-4
                                    div(
                                        data-popup-gallery="gallery-1"
                                        data-popup-src="images/1.png")
                                        img(src="images/1.png", alt="", style="width: 100%")
                                .col-4
                                    div(
                                        data-popup-gallery="gallery-1"
                                        data-popup-src="images/2.png")
                                        img(src="images/2.png", alt="", style="width: 100%")
                                .col-4
                                    div(
                                        data-popup-gallery="gallery-1"
                                        data-popup-src="images/3.png")
                                        img(src="images/3.png", alt="", style="width: 100%")

                    section(style="padding-top: 3rem")
                        .container
                            .row
                                .col-4
                                    div(
                                        data-popup-gallery="gallery-2"
                                        data-popup-src="https://youtu.be/EU4M9gWhUHQ"
                                        data-type="youtube")
                                        img(src="images/4.png", alt="", style="width: 100%")
                                .col-4
                                    div(
                                        data-popup-gallery="gallery-2"
                                        data-popup-src="images/5.png")
                                        img(src="images/5.png", alt="", style="width: 100%")
                                .col-4
                                    div(
                                        data-popup-gallery="gallery-2"
                                        data-popup-src="images/6.png")
                                        img(src="images/6.png", alt="", style="width: 100%")

                    section#tabs(style="padding-top: 3rem")
                        .container
                            h2 Tabs (mobile accordion)
                            .cstm-tabs(data-tabs-accordion="768" style="padding-top: 1rem")
                                .cstm-tabs-nav
                                    .row
                                        .col-md-4
                                            a.cstm-tabs__btn(href="#") Tab 1
                                        .col-md-4
                                            a.cstm-tabs__btn(href="#") Tab 2
                                        .col-md-4
                                            a.cstm-tabs__btn(href="#") Tab 3
                                .cstm-tabs-body
                                    .cstm-tabs__content
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Venenatis lectus magna fringilla urna porttitor rhoncus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Vel orci porta non pulvinar neque. Tempus quam pellentesque nec nam aliquam sem et tortor. Sit amet dictum sit amet justo. Nunc faucibus a pellentesque sit amet porttitor. Et odio pellentesque diam volutpat commodo sed egestas. Quisque egestas diam in arcu cursus euismod quis viverra. Egestas purus viverra accumsan in nisl. Faucibus turpis in eu mi. Pellentesque habitant morbi tristique senectus et netus et malesuada. Et magnis dis parturient montes nascetur ridiculus. Lacinia at quis risus sed vulputate. Enim ut sem viverra aliquet eget. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus.
                                    .cstm-tabs__content
                                        div Eu lobortis elementum nibh tellus molestie nunc. Posuere ac ut consequat semper viverra nam libero justo laoreet. Sem viverra aliquet eget sit amet tellus cras. Arcu risus quis varius quam quisque id. Aliquet porttitor lacus luctus accumsan tortor posuere. Sed vulputate mi sit amet mauris. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Quam pellentesque nec nam aliquam sem et tortor. Sem integer vitae justo eget magna fermentum iaculis. Integer enim neque volutpat ac tincidunt vitae. Pellentesque sit amet porttitor eget. Urna id volutpat lacus laoreet. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Venenatis cras sed felis eget.
                                        .cstm-tabs
                                            .cstm-tabs-nav
                                                .row
                                                    .col-4
                                                        a.cstm-tabs__btn(href="#") Subtab 1
                                                    .col-4
                                                        a.cstm-tabs__btn(href="#") Subtab 2
                                                    .col-4
                                                        a.cstm-tabs__btn(href="#") Subtab 3
                                            .cstm-tabs-body
                                                .cstm-tabs__content
                                                    div Content Subtab 1
                                                .cstm-tabs__content
                                                    div Content Subtab 2
                                                .cstm-tabs__content
                                                    div Content Subtab 3
                                    .cstm-tabs__content
                                        div Porta nibh venenatis cras sed felis eget. Phasellus egestas tellus rutrum tellus pellentesque. Pharetra convallis posuere morbi leo urna molestie at elementum. Amet porttitor eget dolor morbi non arcu. Faucibus interdum posuere lorem ipsum. Eu mi bibendum neque egestas congue quisque. Orci dapibus ultrices in iaculis. Tristique et egestas quis ipsum suspendisse ultrices gravida. Mattis nunc sed blandit libero volutpat sed. Velit scelerisque in dictum non. Ipsum consequat nisl vel pretium. Nullam vehicula ipsum a arcu cursus vitae.

                    section#tabs(style="padding-top: 3rem")
                        .container
                            h2 Tabs (mobile select)
                            .cstm-tabs(data-tabs-select="768" style="padding-top: 1rem")
                                .cstm-tabs-nav
                                    .row
                                        .col-md-4
                                            a.cstm-tabs__btn(href="#") Tab 1
                                        .col-md-4
                                            a.cstm-tabs__btn(href="#") Tab 2
                                        .col-md-4
                                            a.cstm-tabs__btn(href="#") Tab 3
                                .cstm-tabs-body
                                    .cstm-tabs__content
                                        div Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Venenatis lectus magna fringilla urna porttitor rhoncus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Vel orci porta non pulvinar neque. Tempus quam pellentesque nec nam aliquam sem et tortor. Sit amet dictum sit amet justo. Nunc faucibus a pellentesque sit amet porttitor. Et odio pellentesque diam volutpat commodo sed egestas. Quisque egestas diam in arcu cursus euismod quis viverra. Egestas purus viverra accumsan in nisl. Faucibus turpis in eu mi. Pellentesque habitant morbi tristique senectus et netus et malesuada. Et magnis dis parturient montes nascetur ridiculus. Lacinia at quis risus sed vulputate. Enim ut sem viverra aliquet eget. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus.
                                    .cstm-tabs__content
                                        div Eu lobortis elementum nibh tellus molestie nunc. Posuere ac ut consequat semper viverra nam libero justo laoreet. Sem viverra aliquet eget sit amet tellus cras. Arcu risus quis varius quam quisque id. Aliquet porttitor lacus luctus accumsan tortor posuere. Sed vulputate mi sit amet mauris. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Quam pellentesque nec nam aliquam sem et tortor. Sem integer vitae justo eget magna fermentum iaculis. Integer enim neque volutpat ac tincidunt vitae. Pellentesque sit amet porttitor eget. Urna id volutpat lacus laoreet. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Venenatis cras sed felis eget.
                                        .cstm-tabs
                                            .cstm-tabs-nav
                                                .row
                                                    .col-4
                                                        a.cstm-tabs__btn(href="#") Subtab 1
                                                    .col-4
                                                        a.cstm-tabs__btn(href="#") Subtab 2
                                                    .col-4
                                                        a.cstm-tabs__btn(href="#") Subtab 3
                                            .cstm-tabs-body
                                                .cstm-tabs__content
                                                    div Content Subtab 1
                                                .cstm-tabs__content
                                                    div Content Subtab 2
                                                .cstm-tabs__content
                                                    div Content Subtab 3
                                    .cstm-tabs__content
                                        div Porta nibh venenatis cras sed felis eget. Phasellus egestas tellus rutrum tellus pellentesque. Pharetra convallis posuere morbi leo urna molestie at elementum. Amet porttitor eget dolor morbi non arcu. Faucibus interdum posuere lorem ipsum. Eu mi bibendum neque egestas congue quisque. Orci dapibus ultrices in iaculis. Tristique et egestas quis ipsum suspendisse ultrices gravida. Mattis nunc sed blandit libero volutpat sed. Velit scelerisque in dictum non. Ipsum consequat nisl vel pretium. Nullam vehicula ipsum a arcu cursus vitae.

                    section#accordion(style="padding-top: 3rem")
                        .container
                            h2 Accordion
                            .cstm-accordion(style="padding-top: 1rem" data-accordion-toggle)
                                .cstm-accordion-list
                                    .cstm-accordion-item._active
                                        .cstm-accordion-item__header 
                                            b Accordion item 1
                                        .cstm-accordion-item__content
                                            div Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Eu scelerisque felis imperdiet proin fermentum leo vel orci. Venenatis lectus magna fringilla urna porttitor rhoncus. Commodo viverra maecenas accumsan lacus vel facilisis volutpat est. Pharetra vel turpis nunc eget lorem dolor sed viverra ipsum. Vel orci porta non pulvinar neque. Tempus quam pellentesque nec nam aliquam sem et tortor. Sit amet dictum sit amet justo. Nunc faucibus a pellentesque sit amet porttitor. Et odio pellentesque diam volutpat commodo sed egestas. Quisque egestas diam in arcu cursus euismod quis viverra. Egestas purus viverra accumsan in nisl. Faucibus turpis in eu mi. Pellentesque habitant morbi tristique senectus et netus et malesuada. Et magnis dis parturient montes nascetur ridiculus. Lacinia at quis risus sed vulputate. Enim ut sem viverra aliquet eget. Eget egestas purus viverra accumsan in nisl nisi scelerisque. Erat imperdiet sed euismod nisi porta lorem mollis aliquam ut. Eu feugiat pretium nibh ipsum consequat nisl vel pretium lectus.
                                    .cstm-accordion-item(style="padding-top: 1rem")
                                        .cstm-accordion-item__header 
                                            b Accordion item 2
                                        .cstm-accordion-item__content
                                            div Eu lobortis elementum nibh tellus molestie nunc. Posuere ac ut consequat semper viverra nam libero justo laoreet. Sem viverra aliquet eget sit amet tellus cras. Arcu risus quis varius quam quisque id. Aliquet porttitor lacus luctus accumsan tortor posuere. Sed vulputate mi sit amet mauris. Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Quam pellentesque nec nam aliquam sem et tortor. Sem integer vitae justo eget magna fermentum iaculis. Integer enim neque volutpat ac tincidunt vitae. Pellentesque sit amet porttitor eget. Urna id volutpat lacus laoreet. Metus aliquam eleifend mi in nulla posuere sollicitudin aliquam. Venenatis cras sed felis eget.
                                            .cstm-accordion
                                                .cstm-accordion-list
                                                    .cstm-accordion-item(style="padding-top: 1rem")
                                                        .cstm-accordion-item__header 
                                                            b SubAccordion item 1
                                                        .cstm-accordion-item__content
                                                            div Content SubAccordion 1
                                                    .cstm-accordion-item(style="padding-top: 1rem")
                                                        .cstm-accordion-item__header 
                                                            b SubAccordion item 2
                                                        .cstm-accordion-item__content
                                                            div Content SubAccordion 2
                                                    .cstm-accordion-item(style="padding-top: 1rem")
                                                        .cstm-accordion-item__header 
                                                            b SubAccordion item 3
                                                        .cstm-accordion-item__content
                                                            div Content SubAccordion 3
                                    .cstm-accordion-item(style="padding-top: 1rem")
                                        .cstm-accordion-item__header 
                                            b Accordion item 3
                                        .cstm-accordion-item__content
                                            div Porta nibh venenatis cras sed felis eget. Phasellus egestas tellus rutrum tellus pellentesque. Pharetra convallis posuere morbi leo urna molestie at elementum. Amet porttitor eget dolor morbi non arcu. Faucibus interdum posuere lorem ipsum. Eu mi bibendum neque egestas congue quisque. Orci dapibus ultrices in iaculis. Tristique et egestas quis ipsum suspendisse ultrices gravida. Mattis nunc sed blandit libero volutpat sed. Velit scelerisque in dictum non. Ipsum consequat nisl vel pretium. Nullam vehicula ipsum a arcu cursus vitae.
            
                    section#forms(style="padding-top: 3rem")
                        .container
                            h2 Forms
                            .form( style="padding-top: 1rem; max-width: 450px" data-validation="input")
                                .form-row
                                    .form-col
                                        .form-field
                                            select.cstm-select( data-label="Label for select" required )
                                                option(value="" selected) Select option
                                                option(value="1") Option 1
                                                option(value="2") Option 2
                                                option(value="3") Option 3
                                                option(value="4") Option 4
                                                option(value="5") Option 5
                                                option(value="6") Option 6
                                                option(value="7") Option 7
                                    .form-col
                                        .form-field
                                            select.cstm-select( data-label="Label for multiple select" multiple required )
                                                option(value="" selected disabled) Select multiple option
                                                option(value="1") Option mult 1
                                                option(value="2") Option mult 2
                                                option(value="3") Option mult 3
                                                option(value="4") Option mult 4
                                                option(value="5") Option mult 5
                                                option(value="6") Option mult 6
                                                option(value="7") Option mult 7
                                    .form-col
                                        .form-field
                                            input.cstm-range(
                                                type="range"
                                                min="100"
                                                max="5000"
                                                value="500"
                                                step="1"
                                                placeholder="Range placeholder"
                                                data-suffix="месяц"
                                                required
                                            )
                                    .form-col
                                        .form-field
                                            input.field-anim(type="text" placeholder="Text placeholder" required)
                                    .form-col
                                        .form-field
                                            input.field-anim(type="tel" placeholder="Phone placeholder" inputmode="tel" required)
                                    .form-col
                                        .form-field
                                            input.field-anim(type="email" placeholder="E-mail placeholder" inputmode="email" required)
                                    .form-col
                                        .form-field
                                            input.field-anim.cstm-num(type="text" placeholder="Field num placeholder" inputmode="number")
                                    .form-col
                                        .form-field
                                            input#ddd.field-anim.cstm-date(
                                                type="text"
                                                placeholder="Date placeholder"
                                                value="05/02/2005"
                                                data-date-older="18"
                                                required
                                            )
                                    .form-col
                                        .form-field
                                            textarea.field-anim(placeholder="Textarea placeholder" rows="4" required)
                                    .form-col
                                        .form-field
                                            input#checkbox-1.cstm-checkbox(type="checkbox" required)
                                            label(for="checkbox-1") Label for checkbox
                                    .form-col
                                        .form-field
                                            .input-radio
                                                .input-radio__item
                                                    input#sex-man.cstm-radio(type="radio" value="Male" name="sex" checked)
                                                    label(for="sex-man") Male
                                                .input-radio__item
                                                    input#sex-woman.cstm-radio(type="radio" value="Female" name="sex")
                                                    label(for="sex-woman") Female
                                    .form-col
                                        .form-btn
                                            button.btn Submit
            
            include includes/footer.pug

            #popup Some Content
                div
                    a(href="#" data-popup-close)
                        apan Close
                    br
                    a(
                        href="#"
                        data-popup
                        data-popup-src="#aaa"
                        data-popup-pos="center"
                    ) Popup Center
                    div(style="height: 1000px; background: blue;")
            #aaa AAA!!!
                div
                    a(href="#" data-popup-close) Close